<h1> <%= @movie.name %> </h1>
<h4>Year: <%= @movie.year %> </h4>
<h4>Genre: <%= @movie.genre %></h4>



<a href="/movies/<%= @movie.id %>/edit">Edit <%= @movie.name %></a>

<form method="POST" action="/movies/<%= @movie.id %>">
    <input type="hidden" value="DELETE" name="_method">
    <input type="submit" value="Delete">    
</form>